body {
	width: 960px;
	margin: 0 auto;
}

section {
         align: center;
}

ul {
     width: 360px;
     margin: 0 auto;
     list-style-type: none;
     float: right;
}

li {
	width: 100px;
    float: left;
}

h1 {
    padding: 40px 0px 0px 0px;
    clear: both;
    margin: 0 auto;
}
 
#logo {
     float: left;
}

#dwlogo {
     float: left;
}

#dwdrumset {
    float: left;
}

footer {
        background: grey;
        clear: both;
}