body {
	width: 800px;
	margin: 0 auto;
}

section {
         align: center;
}

li {
    padding: 30px
    text-decoration: none;
}

h1 {
    clear: both;
}
 
#logo {
     float: left;
}

#dwlogo {
     float: left;
}

#dwdrumset {
    float: left;
}

footer {
        background: grey;
        clear: both;
}